# IDE
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log
.env
.env.*
.venv/
*.sqlite3
*.db

# PDM
__pypackages__/
pdm.lock

# Allure
allure-results/
allure-report/

# Test Artifacts
htmlcov/
coverage.xml
.cache/
.tox/
pytest_cache/
reports/
test-results/
output/

# OS Generated
.DS_Store
Thumbs.db
Icon?
ehthumbs.db
Desktop.ini

# Playwright
playwright-report/
trace.zip
videos/
screenshots/

# Logs and Temporary files
*.log
*.tmp
*.bak
*.swp
*.swo
*.orig

# Miscellaneous
*.tar
*.tar.gz
*.zip
*.7z
*.rar
*.tgz
*.log.*
*.coverage
